@import "tailwindcss/base";

@import "tailwindcss/components";

@import "tailwindcss/utilities";

.App {
  text-align: center;

}
html{
  scroll-behavior: smooth;
}

.custom-cursor {
  position: fixed;
  width: 20px;
  height: 20px;
  background-color: #ff5733; /* Customize the color */
  border-radius: 50%;
  pointer-events: none; /* Prevent cursor from interfering with interactions */
  transform: translate(-50%, -50%);
  transition: transform 0.1s ease, background-color 0.3s ease;
  mix-blend-mode: difference; /* Customize blend mode */
}

.chipc{
  position: absolute;
  z-index: 1000000000;
  width: 350px;
  height: 6vh;
  right: 12vw;
  background-color: #D9CAB3
}
@media (max-width : 770px) {
  .chipc{
    display: none;
  }
}